.axil-header-top {
    /*background: black !important;*/
    /*HEIGHT: 50px;*/
}

.logo {
    width: 100px;
}

.header-style-1 .header-navbar, .copyright-area {
    background-color: #859F49;
}



.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)!important;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)!important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)!important;
}

.footer-style-2 {
    background-color: #333 !important;
    color: #fafafa;
}

.footer-style-2 p, .axil-footer-widget .inner ul li a {
    color: #fafafa;
}

.copyright-default .quick-link li {
    color : #fff;
}

.header-top-dropdown .dropdown .dropdown-toggle {
    color : #60772c;
}

.header-top-link .quick-link li a {
    color : #60772c;
}

.mainmenu>li>a {
    color : #fafafa;
}


.p-1 {padding: 0.25rem !important;}
.p-2 {padding: 0.5rem !important;}
.p-3 {padding: 1rem !important;}
.p-4 {padding: 1.5rem !important;}
.p-5 {padding: 3rem !important;}

.pl-1 {padding-left: 0.25rem !important;}
.pl-2 {padding-left: 0.5rem !important;}
.pl-3 {padding-left: 1rem !important;}
.pl-4 {padding-left: 1.5rem !important;}
.pl-5 {padding-left: 3rem !important;}

.pt-1 {padding-top: 0.25rem !important;}
.pt-2 {padding-top: 0.5rem !important;}
.pt-3 {padding-top: 1rem !important;}
.pt-4 {padding-top: 1.5rem !important;}
.pt-5 {padding-top: 3rem !important;}

.pr-1 {padding-right: 0.25rem !important;}
.pr-2 {padding-right: 0.5rem !important;}
.pr-3 {padding-right: 1rem !important;}
.pr-4 {padding-right: 1.5rem !important;}
.pr-5 {padding-right: 3rem !important;}

.pb-1 {padding-bottom: 0.25rem !important;}
.pb-2 {padding-bottom: 0.5rem !important;}
.pb-3 {padding-bottom: 1rem !important;}
.pb-4 {padding-bottom: 1.5rem !important;}
.pb-5 {padding-bottom: 3rem !important;}

.rounded-0 {
    border-radius: 0 !important;
}

.axil-product>.thumbnail> img {
    border-radius: 0 0 0 0 !important;
}

.axil-product>.thumbnail>a img {
    border-radius: 0 0 0 0 !important;
}
.header-action .axil-search input {
    max-width: 500px !important;
    background: rgba(255, 255, 255, 0.5) !important;
    border-radius: 30px;
    color : #fafafa !important;

}
#search2 {
    max-width: 500px !important;
}
@media (max-width: 991px) {
    .logo {
        width:100%
    }

    #search2 {
        width: 100% !important;
    }
}

.mainmenu>.menu-item-has-children .axil-submenu {
    overflow-y: auto;
}

.slick-track {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: stretch !important;
}

.categrie-product {
    flex-grow: 1 !important; /* allow the divs to grow and fill the available space */
}

